* {
    padding: 0;
    margin: 0;
    font-family: 'Fira sans', sans-serif;
}

body {
    background-color: #42b3f5;
}

.main {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.heading h1{
    font-size: 48px;
    font-weight: 500;
    padding-top: 2rem;
    margin: 1rem;
}

.search-bar {
    margin: 1rem 0;
    width: 400px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 1rem;
    padding: 0.3rem 1rem;
}

.container {
    width: 80%;
    margin: 25px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 2rem;
}

.card {
    width: 180px;
    border-radius: 1rem;
    background-color: black;
    padding: 5px;
}

img {
    width: 100%;
    border-radius: 1rem 1rem;
}

.card h3 {
    color: white;
    font-size: 18px;
}

.indexContainer {
    display: flex;
    margin: 2.5rem 0;
}

.numBox {
    width: 50px;
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0 5px 0 5px;
}

.content img {
    width: 100%;
    height: 600px;
}

.content .inner-content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #c7d5eb;
    font-size: 1.5rem;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 5px 5px black;
}

.det-and-ingre {
    display: flex;
}

.recipe-details{
    width: 70%;
    margin:2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ingredients,.instructions{
    flex-basis: 50%;
    text-align: justify;
}

.ingredients {
    margin:2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ingredients h4 {
    margin-top: 1.5rem;
    font-weight: bold;
}

.instructions {
    margin:2rem auto;
    margin-right: 20%;
    align-items: center;
}

.instructions h2{
    margin: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

iframe {
    height: 515px;
    width: 100%;
}





